@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @mixin space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  @mixin box-shadow($x, $y, $blur, $color) {
    box-shadow: $x $y $blur $color;
  }